.header{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background-color: #373737;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, 0.586);
    backdrop-filter: blur(5px);
    position: absolute;
}

.header .infor{
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.header .start{
    height: 38px;
    width: 100px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease-in-out 0.25s;
    cursor: pointer;
}

.header .start:hover{
    background-color: #d9d9d9;
}